{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#faf3e6">
<title>{% block title %}Làm Cha Mẹ CZ{% endblock %}</title>
<link rel="icon" type="image/png" href="{% static 'core/img/logo.png' %}">
<link rel="apple-touch-icon" href="{% static 'core/img/logo.png' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script>document.documentElement.classList.add('js');</script>
<link rel="stylesheet" href="{% static 'core/css/main.css' %}">
{% block head_extra %}{% endblock %}
