{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  {% include "partials/_head.html" %}
</head>
<body>
  {% if user.is_authenticated %}
    <div class="app-shell">
      {% include "partials/_nav.html" %}
      <main class="app-main">
        <div class="app-main__inner">
          {% include "partials/_messages.html" %}
  {% else %}
    <main class="app-auth">
      <div class="app-auth__inner">
        {% include "partials/_messages.html" %}
  {% endif %}
        {% block content %}{% endblock %}
  {% if user.is_authenticated %}
        </div>
      </main>
    </div>
  {% else %}
      </div>
    </main>
    <div class="lang-switch-floating">{% include "partials/_lang_switch.html" %}</div>
  {% endif %}
  {% include "partials/_scripts.html" %}
</body>
</html>
